<!DOCTYPE html>
<html lang='en'>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel='stylesheet' href='/static/bootstrap/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/static/bootstrap/css/bootstrap-responsive.min.css'>

    <style>
        .mainmenu{
            background-color: #FFD073;
        }
        .mainmenu a{
            color:black;
        }
        .footer{

        }
        .no-dots{
            list-style-type:none;
        }
        .error{
           color:red;
        }
    </style>

</head>
<body class='container'>


	{% block content %}
    <div class='row'>
        <legend><h2>Round Table Forums [Beta Test] <small>Login Page</small></h2></legend>
        <div class='span3 well'>
        	<form method='POST'>
        		

                    {% block messages %}
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul class="flashes no-dots error">
                                {% for message in messages %}
                                    <li> {{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        {% endwith %}
                    {% endblock %}

        		<label for="email">Your Email Address:</label>
        		<input type="email" name="email"></input>
        		
        		<label for="password">Password:</label>
        		<input type="password" name="password"></input>

        		<button class='btn'>Login</button>



        	</form>
            
               
                
        </div>
        <div class='span3 well'>
            <h4>Don't have an account?</h4>
                <p>Sign up <a href="/signup">here</a>.</p>
            <h4>Forgot your password?</h4>
                <p>Reset it <a href="/passwordreset">here</a>.</p>
            <h4>Want to poke around?</h4>
                <p>Login using the demo account:</p>
                <p>email: <a href="#">demo@demo.com</a>.</p>
                <p>password: <a href="#">demo</a>.</p>
        </div>
        <div class='span4 well'>
            <h4>What? Why?</h4>
            <p>Round Table Forums is a site to create a forum for your school that allows your teachers to discuss and share information about their students.</p>
            <p>It makes it easy to manage students by creating a forum for each one and grouping them by grade.</p>
            <p>It allows you to graduate students from year to year, moving up between the grades. That way your second grade teacher will always have access to the students in the second grade, without having to redo forum settings and permissions each year.</p>
            <p>Round Table Forums makes retention of information about students easy. If your fourth grade teacher makes a post noting that a student learns best when working on their own, the fifth grade teacher will have access to that information the next year when the student is in the fifth grade.</p>
            <p>Round Table Forums makes it easy to grant and manage permissions, so you can ensure each teacher only has access to information about the students they work with.</p>
            <h4>Security?</h4>
            <p>Round Table Forums is only accessible over SSL, only stores <a href="http://bcrypt.sourceforge.net/">bcrypt</a> hashed copies of passwords and is hosted on virtual servers out of <a href="http://digitalocean.com">DigitalOcean</a>.</p>
        </div>
    </div>
	{% endblock %}

    <div class='container footer'>
        {% block footer %}
             <span id="cdSiteSeal2"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal2&amp;cdSealType=Seal2&amp;sealId=55e4ye7y7mb7309fc281e14f5fa2345bm9y7mb7355e4ye76d475e883928e63de"></script></span>
        {% endblock %}
    </div>

</body>