{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block messages %}
	{{ super() }}
{% endblock %}
{% block breadcrumbs %}
	<ul class="breadcrumb">
	    <li class='active'><span class="divider">/</span>Home</li>
    </ul>
{% endblock %}
{% block content %}

	<h4>Unread Comments and Posts</h4>
		<ul class='no-dots well'>
			{% for uv in unviewed %}
				<li><small><span class='date'>{{ uv.comment.created }}</span></small> - <a href='/home/{{ uv.comment.post.student.grade.name }}/{{ uv.comment.post.student_id }}/{{ uv.comment.post_id }}/#comment-{{ uv.comment.id }}'>{{ uv.comment.content[:100] }}</a> by <small>{{ uv.comment.author.firstname }} {{ uv.comment.author.lastname }}.</small></li>
			{% else %}
				<li>You have no unviewed comments or posts.</li>
			{% endfor %}
		</ul>
	<h4>Forums</h4>
	<ul class='no-dots well'>
		<li><b><a href="/home/general-discussion/">General Discussion</a></b></li>
	</ul>
	<ul class='no-dots well'>
		{% for grade in grades %}
			<li><b><a href='/home/{{ grade.name }}'>{{ grade.name }} forums</a></b></li>
		{% else %}
			<li>You don't have access to any forums yet.</li>
		{% endfor %}
	</ul>


{% endblock %}