{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block messages %}
	{{ super() }}
{% endblock %}
{% block breadcrumbs %}
	<ul class="breadcrumb">
	    <li class='active'><span class="divider">/</span>Home</li>
    </ul>
{% endblock %}
{% block content %}

	<h4>Unread Comments and Posts</h4>
		<ul class='no-dots'>
			{% for uv in unviewed %}
				<li><a href='/home/{{ uv.comment.post.student.grade.name }}/{{ uv.comment.post.student_id }}/{{ uv.comment.post_id }}'>{{ uv.comment.content[:100] }}</a> by <small>{{ uv.comment.author.firstname }} {{ uv.comment.author.lastname }}.</small></li>
			{% else %}
				<li>You have no unviewed comments or posts.</li>
			{% endfor %}
		</ul>
	<h4>Forums</h4>
	<ul class='no-dots'>
		{% for grade in grades %}
			<li><a href='/home/{{ grade.name }}'>{{ grade.name }} forums</a></li>
		{% else %}
			<li>You don't have access to any forums yet.</li>
		{% endfor %}
	</ul>


	{% if session.user.isAdmin == "1" %}
		<h4>Administration</h4>
		<ul class='no-dots'>
			<li><a href='/home/admin'>Admin</a></li>
		</ul>
	{% endif %}
{% endblock %}