{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.form{
			width:100%;
		}
		.light-background{
			background-color: rgb(233,233,245);
			padding:10px;
			margin:10px;
		}
	</style>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li class='active'>Search</li>
    </ul>
{% endblock %}
{% block content %}

	{% block messages %}
		{{ super() }}
	{% endblock %}
	<legend><h3>Search Results:</h3></legend>
	<ul class='no-dots'>
		{% for result in results %}
			<li class='well'><div>Found a {{ result.type }}: </div>
				<div><a href="{{ result.address }}">{{ result.repr }}</a></div>
			</li>
		{% else %}
			<li>No results found.</li>
		{% endfor %}
	</ul>

	<div class="pagination">
    <ul>
    	{% if prev_page %}
    		<li><a href="{{ prev_page.url }}">Prev</a></li>
    	{% else %}
    		<li class='disabled'><a href="#">Prev</a></li>
    	{% endif %}

    	{% for page in pages %}
    	{% if page.active %}
    		<li class='disabled'><a href="{{ page.url }}">{{ page.pagenumber }}</a></li>
    	{% else %}
    		<li><a href="{{ page.url }}">{{ page.pagenumber }}</a></li>
    	{% endif %}
    	{% endfor %}

    	{% if next_page %}
    		<li><a href="{{ next_page.url }}">Next</a></li>
    	{% else %}
    		<li class='disabled'><a href="#" class="disabled">Next</a></li>
    	{% endif %}
  

    </ul>
    </div>
{% endblock %}	