{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.form{
			width:100%;
		}
		.light-background{
			background-color: rgb(233,233,245);
			padding:10px;
			margin:10px;
		}
	</style>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li class='active'>Search</li>
    </ul>
{% endblock %}
{% block content %}

	{% block messages %}
		{{ super() }}
	{% endblock %}
	<legend><h3>Search Results:</h3></legend>
	<ol>
		{% for result in results %}
			<li>Found a {{ result.type }}: <a href="{{ result.address }}">{{ result.repr }}</a></li>
		{% else %}
			<li>No results found.</li>
		{% endfor %}
	</ol>
{% endblock %}	