{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li class='active'>{{ grade.name }}</li>
    </ul>
{% endblock %}
{% block content %}
	{% block messages %}
		{{ super() }}
	{% endblock %}

	<h3>{{ grade.name }} forums</h3>
	<ul class='no-dots'>
		{% for student in students %}
			<li><h5><a href='/home/{{ grade.name }}/{{ student.id }}'>{{ student.lastname }}, {{ student.firstname }}</a></h5></li>
		{% else %}
			<li>No students found</li>
		{% endfor %}
	</ul>
{% endblock %}