<!DOCTYPE html>
<html lang='en'>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel='stylesheet' href='/static/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/static/bootstrap/css/bootstrap-responsive.css'>

    <style>
        .mainmenu{
            background-color: #FFD073;
        }
        .mainmenu a{
            color:black;
        }
        .footer{

        }
        .no-dots{
            list-style-type:none;
        }
        .error{
           color:red;
        }
    </style>

</head>
<body class='container'>


	{% block content %}
	<form method='POST'>
		<legend>Round Table Forums Login</legend>

            {% block messages %}
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class="flashes no-dots error">
                        {% for message in messages %}
                            <li> {{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endwith %}
            {% endblock %}

        <div class='span3'>
		<label for="email">Your Email Address:</label>
		<input type="email" name="email"></input>
		
		<label for="password">Password:</label>
		<input type="password" name="password"></input>

		<button class='btn'>Login</button>
        </div>
	</form>

	{% endblock %}

</body>