<!DOCTYPE html>
<html lang='en'>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel='stylesheet' href='/static/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' href='/static/bootstrap/css/bootstrap-responsive.css'>

    <style>
        .mainmenu{
            background-color: #FFD073;
        }
        .mainmenu a{
            color:black;
        }
        .footer{

        }
        .no-dots{
            list-style-type:none;
        }
        .error{
           color:red;
        }
    </style>

</head>
<body class='container'>


	{% block content %}
    <div class='row'>
    	<form method='POST' action="/passwordreset/process/">
    		<legend>Password Reset: Step 3</legend>

                {% block messages %}
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class="flashes no-dots error">
                            {% for message in messages %}
                                <li> {{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {% endwith %}
                {% endblock %}

            <div class='span3'>
    		<label for="password1">Please enter a new password below.</label>
            <input type='hidden' name='secret_key' value={{ secret_key }}></input>
    		<input type="hidden" name="code" value={{ code }}></input>
            <input type="password" name="password1"></input>
            <label for="password2">Confirm your password.</label>
            <input type="password" name="password2"></input>

    		<button class='btn'>Next</button>
            </div>
    	</form>

    </div>
	{% endblock %}

</body>