{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.form{
			width:100%;
		}
		.light-background{
			background-color: rgb(233,233,245);
			padding:10px;
			margin:10px;
		}
	</style>
{% endblock %}

{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li class='active'>Search</li>
    </ul>
{% endblock %}
{% block content %}

	{% block messages %}
		{{ super() }}
	{% endblock %}
	<legend><h3>Search Results:</h3></legend>
	<ol>
		{% for result in results %}
			<li>Found a {{ result.type }}: <a href="{{ result.address }}">{{ result.repr }}</a></li>
		{% else %}
			<li>No results found.</li>
		{% endfor %}
	</ol>

	<div class="pagination">
    <ul>
    	{% for page in pages %}
    		<li><a href="{{ page.url }}">{{ page.pagenumber }}</a></li>
    	{% endfor %}
    <li>
    	{% if prev_page %}
    		<a href="{{ prev_page.url }}">Prev</a>
    	{% else %}
    		<a href="#" class="disabled">Prev</a>
    	{% endif %}
    </li>
    <li>
    	{% if next_page %}
    		<a href="{{ next_page.url }}">Next</a>
    	{% else %}
    		<a href="#" class="disabled">Next</a>
    	{% endif %}
    </li>

    </ul>
    </div>
{% endblock %}	