{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.form{
			width:100%;
		}
		.light-background{
			background-color: rgb(255,222,222);
		}
	</style>
{% endblock %}

{% block messages %}
	{{ super() }}
{% endblock %}
{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li><a href='/home/admin'>Admin</a> <span class='divider'>/</span></li>
    <li class='active'>Manage Teachers</li>
    </ul>
{% endblock %}
{% block content %}

	{% block messages %}
		{{ super() }}
	{% endblock %}

	<h4>Invite</h4>
	<form method="POST">
		<label for="teachers">Enter the emails of teachers you would like to invite.</label>
		<label for="teachers">Use the format, "teacher@teacher.com, fake@email.com, another@fake.email.com, ..."
		<textarea name="teachers" placeholder="Emails..." class='form'></textarea>
		<button class='btn'>Invite</button>
	</form>
	<h4>Manage</h4>
	<ul>
		{% for teacher in teachers %}
			<li class='no-dots light-background'>
				<legend><a href='/home/admin/teachers/{{ teacher.id }}'><h4>{{ teacher.email }}</a> <small>{{ teacher.lastname }}, {{ teacher.firstname }}</small></h4></legend>
				<form method="POST" action='/home/admin/teachers/resend/'>
					<input type='hidden' name='teacher_id' value="{{ teacher.id }}"></input>
					<button class='btn'>Resend Invite</button>
				</form>				
				<form method='POST' action='/home/admin/teachers/delete/'>
					<input type='hidden' name="teacher_id" value="{{ teacher.id }}"></input>
					<button class='btn'>Delete {{ teacher.email }}</button>
				</form>

			</li>
		{% else %}
			<li>No teachers found</li>
		{% endfor %}
	</ul>
{% endblock %}	