{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
	<style>
		.form{
			width:100%;
		}
	</style>
{% endblock %}
{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li><a href='/home/admin'>Admin</a> <span class='divider'>/</span></li>
    <li class='active'>Manage Students</li>
    </ul>
{% endblock %}

{% block content %}

	<h4>Add students here</h4>
	<p>Use format: "Lastname Firstname Grade, Lastname Firstname Grade, ..."</p>
	<p>ex. "Bond James 5, Duck Donald 2, ..."
	<form method="POST">
		<textarea name="students" class='form'></textarea>
		<button class='btn'>Create</button>
	</form>

	{% block messages %}
		{{ super() }}
	{% endblock %}

	{% for grade in students_by_grade %}
		<b> {{ grade.grade.name }} </b>
		<ul>
		{% for student in grade.students %}
			<li>{{ student.lastname }}, {{ student.firstname }}</li>
		{% else %}
			<li>No students found</li>
		{% endfor %}
		</ul>
	
	{% endfor %}

{% endblock %}