{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
		<style>
		.form{
			width:100%;
		}

		</style>
{% endblock %}

{% block messages %}
	{{ super() }}
{% endblock %}
{% block breadcrumbs %}
	<ul class="breadcrumb">
    <li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
    <li><a href="/home/general-discussion/">General Discussion</a> <span class="divider">/</span></li>
    <li class='active'>{{ post.title }}</li>
    </ul>
{% endblock %}
{% block content %}

			<h3>{{ post.title }} <small>by {{ post.author.firstname }} {{ post.author.lastname }} in <a href="/home/general-discussion/">General Discussion</a>.</small></h3>
			<ul class='no-dots'>
			{% for comment in comments %}
				<li class='padding-ten'>
					<div class="media">
						<a class="pull-left" href="#">
							<img class="media-object" src="/avatars/{{ comment.author.avatar }}" height="64p" width="64p">
						</a>
						<div class="media-body">

							<h4 class='media-heading'><a name="comment-{{ comment.id }}"></a>
								{{ comment.author.firstname }} {{ comment.author.lastname }} 
								<small> wrote at {{ comment.created }}
								{% if comment.author.id == session.user.id %}
									<a href='/home/general-discussion/{{post.id}}/{{ comment.id }}/edit'>Edit</a>
								{% endif %}
								</small>
							</h4>
							{% for line in comment.content.splitlines() %}
								{{ line }}<br>
							{% endfor %}
						</div>
					</div>
				</li>
			{% else %}
				<li>There are no comments</li>
			{% endfor %}
				<li>
					<h6>Comment:</h6>
					<form method="POST">
					<textarea name='comment' class='form'></textarea>
					<button class='btn'>Post Comment</button>
					</form>
				</li>
			</ul>

{% endblock %}	