{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}

{% block messages %}
	{{ super() }}
{% endblock %}
{% block breadcrumbs %}
	<ul class="breadcrumb">
	<li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
	<li><a href='/home/admin'>Admin</a> <span class='divider'>/</span></li>
	<li><a href='/home/admin/teachers'>Manage Teachers</a> <span class='divider'>/</span></li>
	<li class='active'>{{ teacher.email }}</li>
	</ul>
{% endblock %}
{% block content %}

<h5>{{ teacher.lastname }}, {{ teacher.firstname }}</h5>
<div>is an admin: {{ teacher.isAdmin }}</div>
<div>created: {{ teacher.created }}</div>
<div>email: {{ teacher.email }}</div>

<h5>Permissions</h5>
<form method="POST">
<button>Save Settings</button>
<table>
	{% for grade in grades %}
		<tr>
			<td ><h4>{{ grade.grade.name }}</h4></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<label class='checkbox'>
					<input type='checkbox' name='grade-{{ grade.grade.id }}' {% if grade.allowed %}checked{% endif %}></input>
					<h5><b>Allow Access to all of {{ grade.grade.name }}</b></h5>
				</label>
			</td>
		</tr>
		{% for permission in grade.permissions %}
			<tr>
				<td></td>
				<td>
					<label class='checkbox'>
						<input type='checkbox' name='student-{{ permission.student.id }}' {% if permission.allowed %}checked{% endif %}></input>
						{{ permission.student.lastname }}, {{ permission.student.firstname }} 
						{% if grade.allowed %}
							(Already allowed at grade level)
						{% endif %}
					</label>
				</td>

			</tr>
		{% else %}
			<tr><td></td><td>There are no students in this grade</td></tr>
		{% endfor %}
	{% endfor %}
</table>
<button>Save Settings</button>
</form>
{% endblock %}