{% extends "template_master.html" %}
{% block title %}Home{% endblock %}

{% block head %}
	{{ super() }}
{% endblock %}


{% block breadcrumbs %}
	<ul class="breadcrumb">
	<li><span class="divider">/</span><a href="/home">Home</a> <span class="divider">/</span></li>
	<li><a href='/home/admin'>Admin</a> <span class='divider'>/</span></li>
	<li><a href='/home/admin/teachers'>Manage Teachers</a> <span class='divider'>/</span></li>
	<li class='active'>{{ teacher.email }}</li>
	</ul>
{% endblock %}
{% block content %}
	{% block messages %}
		{{ super() }}
	{% endblock %}
<h3>{{ teacher.lastname }}, {{ teacher.firstname }}</h3>
<div class='well row-fluid'>
	<div class='span4'>
	is an admin: 
	{% if teacher.isAdmin == "1" %}
		Yes.
	{% else %}
		No.
	{% endif %}
	</div>
	<div class='span4'>
	<form action="/home/admin/teachers/{{ teacher.id }}/makeadmin/" method="POST" class='pull-right'>
		<button class='btn btn-primary'>Add Admin privileges</button>
	</form>
	</div>
	<div class='span4'>
	<form action="/home/admin/teachers/{{ teacher.id }}/removeadmin/" method="POST" class='pull-right'>
		<button class='btn btn-primary'>Remove Admin priviliges</button>
	</form>
	</div>
</div>
<div>created: {{ teacher.created }}</div>
<div>email: {{ teacher.email }}</div>

<h5>Permissions</h5>
<form method="POST" class='well row-fluid'>
<button class='btn btn-primary pull-right'>Save Settings</button>
<table>
	{% for grade in grades %}
		<tr>
			<td ><h4>{{ grade.grade.name }}</h4></td>
		</tr>
		<tr>
			<td></td>
			<td>
				<label class='checkbox'>
					<input type='checkbox' name='grade-{{ grade.grade.id }}' {% if grade.allowed %}checked{% endif %}></input>
					<h5><b>Allow Access to all of {{ grade.grade.name }}</b></h5>
				</label>
			</td>
		</tr>
		{% for permission in grade.permissions %}
			<tr>
				<td></td>
				<td>
					<label class='checkbox'>
						<input type='checkbox' name='student-{{ permission.student.id }}' {% if permission.allowed %}checked{% endif %}></input>
						{{ permission.student.lastname }}, {{ permission.student.firstname }} 
						{% if grade.allowed %}
							(Already allowed at grade level)
						{% endif %}
					</label>
				</td>

			</tr>
		{% else %}
			<tr><td></td><td>There are no students in this grade</td></tr>
		{% endfor %}
	{% endfor %}
</table>
<button class='btn btn-primary pull-right'>Save Settings</button>
<br>
</form>
{% endblock %}